<c-row>
   <c-col lg="12">
     <c-card>
       <c-card-header>
         Transactions
       </c-card-header>
       <c-card-body>
         <table
           class="table table-responsive-sm table-bordered table-striped table-sm"
         >
           <colgroup>
             <col class="column-1" />
             <col class="column-2" />
             <col class="column-3" />
             <col class="column-4" />
             <col class="column-5" />
           </colgroup>
           <thead>
             <tr>
               <th scope="col">Txnid</th>
               <th>GroupId</th>
               <th>Date</th>
               <th>Item</th>
               <th>Quantity</th>
               <th>PosId</th>
               <th>Spring</th>
               <th>Cost Price</th>
               <th>Sell Price</th>
               <th>OrderId</th>
               <th>Status</th>
               <th>Transaction Amount</th>
               <th>Payment Mode</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let tx of returnedArray">
               <th scope="row">{{ tx.txnid }}</th>
               <td>{{ tx.txnGroupId }}</td>
               <td>{{ tx.txnDate }}</td>
               <td>{{ tx.name }}</td>
               <td>{{ tx.quantity }}</td>
               <td>{{ tx.posId }}</td>
               <td>{{ tx.springNo }}</td>
               <td>{{ tx.costPrice }}</td>
               <td>{{ tx.sellPrice }}</td>
               <td>{{ tx.orderId }}</td>
               <td>{{ tx.txnAmount }}</td>
               <td>{{ tx.txnMode }}</td>
               <td>
                 <c-badge [color]="getBadge(tx.status)">{{
                   tx.status
                 }}</c-badge>
               </td>
             </tr>
           </tbody>
         </table>
         <nav>
           <pagination
             [totalItems]="tableData.length"
             (pageChanged)="pageChanged($event)"
             [itemsPerPage]="15"
             [(ngModel)]="currentPage"
             [maxSize]="4"
             [rotate]="true"
           ></pagination>
         </nav>
       </c-card-body>
     </c-card>
   </c-col>
 </c-row>