
<div  id="sect1">  
  <c-row class="justify-content-center" >
    <div class="center">
      <c-card-group>
        <c-card style="margin: 100px ;" >
          <c-card-body style="height: 450px; width: 350px;  background-color: rgba(4,28,88,255);"  >
            <form>
              
              <div>
                <img class="centermid" src="assets/img/brand/mama.png" style="height: 110px;" > 
              <p  style="color:#35b0e4; font-weight:1000; text-align: center; "></p>
              <h2  class="centermid" style="color:#35b0e4; font-weight:1000; text-align: center; ">Digital Vending</h2> 
  
            </div>            
              <!-- <h1 style="color:#35b0e4; font-weight:780;">Merchant Portal</h1> -->
              <p  style="color:#cddde3; ">Forgot Password</p>
              <div *ngIf="showErrorMessage">
                <p   style="color:#f45151; font-weight:1000; text-align: center;">Invalid OTP Please Re Enter</p>
              </div>             
              <c-row> 
              </c-row>
            </form>
          </c-card-body>
        </c-card>
      </c-card-group>
    </div>
  </c-row>
</div>

